<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ana Sayfa</a>
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<div class="nav-item px-3">
    <NavLink class="nav-link" href="hazir-sistemler">
        <span class="bi bi-pc-display-horizontal" aria-hidden="true"></span> Hazır Sistemler
    </NavLink>
</div>
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
       
    </nav>
</div>

